# Basic Python

## 1. Split this string

In [57]:
s = "Hi there Sam!"

In [58]:
s=s.split()
print(s)

['Hi', 'there', 'Sam!']

## 2. Use .format() to print the following string. 

### Output should be: The diameter of Earth is 12742 kilometers.

In [61]:
planet = "Earth"
diameter = 12742

In [62]:
planet="Earth"
diameter=12742
print('The Diameter of {} is {} kilometer.'.format (planet,diameter));

The Diameter of Earth is 12742 kilometer.

## 3. In this nest dictionary grab the word "hello"

In [63]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [64]:
print(d['k1'][3]["tricky"][3]['target'][3])

hello

# Numpy

In [65]:
import numpy as np

## 4.1 Create an array of 10 zeros? 
## 4.2 Create an array of 10 fives?

In [66]:
import numpy as np
array=np.zeros(10)
print("An array of 10 zeros:")
array

An array of 10 zeros:

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [67]:
array=np.ones(10)*5
print("An array of 10 fives:")
array

An array of 10 fives:

array([5., 5., 5., 5., 5., 5., 5., 5., 5., 5.])

## 5. Create an array of all the even integers from 20 to 35

In [68]:
import numpy as np
array=np.arange(20,36,2)
print("Array of all the even integers from 20 to 35:")
print(array)

Array of all the even integers from 20 to 35:
[20 22 24 26 28 30 32 34]

## 6. Create a 3x3 matrix with values ranging from 0 to 8

In [69]:
l1=[[0,1,2],[3,4,5],[6,7,8]]
arr = np.array(l1)
arr

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

## 7. Concatenate a and b 
## a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [70]:
a = np.array([1, 2, 3])
b = np.array([4, 5, 6])
np.concatenate([a, b])

array([1, 2, 3, 4, 5, 6])

# Pandas

## 8. Create a dataframe with 3 rows and 2 columns

In [71]:
import pandas as pd

In [72]:
import pandas as pd
import numpy as np 
p=np.arange(6).reshape(3,2)
label1=['a','b','c']
label2=['A','B',]
p

array([[0, 1],
       [2, 3],
       [4, 5]])

In [73]:
df = pd.DataFrame(p,index= label1, columns=label2)
df

   A  B
a  0  1
b  2  3
c  4  5

In [74]:
k1={"shapes":["circle","square","triangle"],"size":[2,4,6]}
df = pd.DataFrame(k1)
print(df)

     shapes  size
0    circle     2
1    square     4
2  triangle     6

## 9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [75]:
dates = pd.date_range(start='1-1-2023',end='2-10-2023')
print(dates)
#for val in dates:
  #print(val)

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12',
               '2023-01-13', '2023-01-14', '2023-01-15', '2023-01-16',
               '2023-01-17', '2023-01-18', '2023-01-19', '2023-01-20',
               '2023-01-21', '2023-01-22', '2023-01-23', '2023-01-24',
               '2023-01-25', '2023-01-26', '2023-01-27', '2023-01-28',
               '2023-01-29', '2023-01-30', '2023-01-31', '2023-02-01',
               '2023-02-02', '2023-02-03', '2023-02-04', '2023-02-05',
               '2023-02-06', '2023-02-07', '2023-02-08', '2023-02-09',
               '2023-02-10'],
              dtype='datetime64[ns]', freq='D')

## 10. Create 2D list to DataFrame

lists = [[1, 'aaa', 22],
         [2, 'bbb', 25],
         [3, 'ccc', 24]]

In [76]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [50]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]
df = pd.DataFrame(lists, columns =['A', 'B','C']) 
print(df )

   A    B   C
0  1  aaa  22
1  2  bbb  25
2  3  ccc  24